<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Inventory/styles.css">
    <link rel="stylesheet" href="/css/Inventory/reset.css">
    <link rel="stylesheet" href="/css/Inventory/add.css">
    <link rel="stylesheet" href="/css/Inventory/new.css">
    <link rel="stylesheet" href="/css/Inventory/rm.css">
    <link rel="stylesheet" href="/css/Inventory/del.css">
    <script src="/js/inventory.js" defer></script>
    <title>Inventory</title>
</head>
<body>
    <div id="background"></div>
    <div class="sidebar">
        <h1 id="logo">btc.</h1>
        <div class="sidebar-btns">
            <div id="home-btn"><a href="">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M35.2535 17.711L19.9101 1.47374L18.8816 0.384806C18.6473 0.138331 18.3304 0 18.0001 0C17.6698 0 17.3529 0.138331 17.1185 0.384806L0.746686 17.711C0.506573 17.9642 0.316807 18.2659 0.18859 18.598C0.0603737 18.9302 -0.00369539 19.2862 0.000164591 19.645C0.016048 21.1249 1.17951 22.3064 2.57725 22.3064H4.26487V36H31.7353V22.3064H33.4586C34.1376 22.3064 34.777 22.0247 35.2574 21.516C35.494 21.2663 35.6815 20.9694 35.8089 20.6424C35.9364 20.3155 36.0013 19.9651 36 19.6114C36 18.8966 35.7339 18.2197 35.2535 17.711ZM20.2238 32.9729H15.7764V24.3959H20.2238V32.9729ZM28.8763 19.2792V32.9729H22.7651V23.3869C22.7651 22.4577 22.0543 21.7052 21.1768 21.7052H14.8234C13.9458 21.7052 13.235 22.4577 13.235 23.3869V32.9729H7.12389V19.2792H3.31186L18.004 3.73569L18.9213 4.70689L32.6922 19.2792H28.8763Z" fill="white"/>
                </svg>
                </a></div>
            <div id="inv-btn"><a href="">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30 3H6C4.5 3 3 4.35 3 6V10.515C3 11.595 3.645 12.525 4.5 13.05V30C4.5 31.65 6.15 33 7.5 33H28.5C29.85 33 31.5 31.65 31.5 30V13.05C32.355 12.525 33 11.595 33 10.515V6C33 4.35 31.5 3 30 3ZM28.5 30H7.5V13.5H28.5V30ZM30 10.5H6V6H30V10.5Z" fill="white"/>
                    <path d="M13.5 18H22.5V21H13.5V18Z" fill="white"/>
                </svg>
            </a></div>
        </div>
    </div>
    <div id="content">
        <div id="content-mainframe">
            <div id="welcome-user">
                <h1>Bem Vindo, <%= name %> </h1>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" id="logout-btn">Log Out</button>
                </form>
            </div>
            <div id="header">
                <h1>Inventário</h1>
                <div class="header-btns">
                    <button onclick="DOM.open_popup('add')">Adicionar</button>
                    <button onclick="DOM.open_popup('rm')">Remover</button>
                    <button onclick="testedata()">Histórico</button>
                </div>
            </div>
            <div id="search">
                <div class="search-box">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_5_32)">
                        <path d="M10.9375 20.3125C16.1152 20.3125 20.3125 16.1152 20.3125 10.9375C20.3125 5.75983 16.1152 1.5625 10.9375 1.5625C5.75983 1.5625 1.5625 5.75983 1.5625 10.9375C1.5625 16.1152 5.75983 20.3125 10.9375 20.3125Z" stroke="#2C2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.9688 17.9688L23.4375 23.4375" stroke="#2C2B2B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_5_32">
                        <rect width="25" height="25" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>  
                    <input type="search" name="search-input" id="search-input">
                </div>

            </div>
            <div id="labels">
                <div id="lbl-left" class = "lbl-half" >
                    <div class="label-item">ID</div>
                    <div class="label-item">Item</div>
                </div>
                <div id="lbl-right" class = "lbl-half" >
                    <div class="label-item">Mínimo</div>
                    <div class="label-item">Quantidade</div>
                    <div class="label-item">Status</div>
                </div>
            </div>
            <div id="itens-main">
              <!-- Display dinamicamente preenchido -->
            </div>
        </div>
    </div>

<!-- Popup remover -->
<div id="rm-popup-background">
    <div id="rm-popup-container">
        <div id="rm-popup-head">
            <h1>Remover Itens</h1> 
        </div>      
        <div id="labels">
            <div id="lbl-left" class = "lbl-half" >
                <div class="label-item">ID</div>
                <div class="label-item">Item</div>
            </div>
            <div id="lbl-right" class = "lbl-half" >
                <div class="label-item">Mínimo</div>
                <div class="label-item">Quantidade</div>
                <div class="label-item">Remover</div>
            </div>
        </div>
            <div id="itens-rm">
                <!-- Display dinamicamente preenchido -->
            </div>
            <div class="rm-btns">
                <div class="rm-btns-half">
                    <button class="rm-btn" onclick="DOM.close_popup('rm')">Cancelar</button>
                </div>
                <div class="rm-btns-half">
                    <button class="rm-btn" onclick="DOM.open_popup('del')">Deletar</button>
                    <input type="submit" id="send-rm" value="Confirmar" class="rm-btn">
                </div>
            </div>

    </div> 
</div>



<!-- Popup delete -->
<div id="del-popup-background">
    <div id="del-popup-container"> 
        <div id="del-popup-head">
            <h1>Deletar Item</h1> 
        </div>   
        <div id="labels">
            <div id="lbl-left" class = "lbl-half" >
                <div class="label-item">ID</div>
                <div class="label-item">Item</div>
            </div>
            <div id="lbl-right" class = "lbl-half" >
                <div class="label-item">Mínimo</div>
                <div class="label-item">Quantidade</div>
                <div class="label-item">Deletar</div>
            </div>
        </div>
        
            <div id="itens-del">
                <!-- Display dinamicamente preenchido -->
            </div>
            <div class="del-btns">
                <div class="del-btns-half">
                    <button class="rm-btn" onclick="DOM.close_popup('del')">Cancelar</button>
                </div>
                <div class="del-btns-half">
            
                </div>
            </div>

    </div> 
</div>



<!-- Popup Adicionar -->
    <div id="add-popup-background">  
        <div id="add-popup-container">    
            <div id="add-popup-head">
                <h1>Adicionar Itens</h1> 
            </div>
            <div id="labels">
                <div id="lbl-left" class = "lbl-half" >
                    <div class="label-item">ID</div>
                    <div class="label-item">Item</div>
                </div>
                <div id="lbl-right" class = "lbl-half" >
                    <div class="label-item">Mínimo</div>
                    <div class="label-item">Quantidade</div>
                    <div class="label-item">Adicionar</div>
                </div>
            </div>
            
                <div id="itens-add">
                    <!-- Display dinamicamente preenchido -->
                </div>
                <div class="add-btns">
                    <div class="add-btns-half">
                        <button class="add-btn" onclick="DOM.close_popup('add')">Cancelar</button>
                    </div>
                    <div class="add-btns-half">
                        <button class="add-btn" onclick="DOM.open_popup('new')">Novo</button>
                        <input type="submit" id="send-add" value="Confirmar" class="add-btn">
                    </div>
                </div>

        </div> 
    </div>

<!-- Popup Novo item -->
    <div id="new-popup-background">
        <div id="new-popup-container">
            <div class="top">
                <div id="new-popup-head">
                <h1>Adicionar novo Item</h1> 
                </div>
                <div id="new-popup-lbls">
                    <div class="new-lbl-half">
                        <div>Nome</div>
                    </div>
                    <div class="new-lbl-half">
                        <div>Estoque Minimo</div>
                        <div>Quantidade atual</div>
                    </div>
                </div>
                <div id="new-popup-forms">
                    <div class="new-input-left">
                        <input id ="new-name" type="text" >
                    </div>
                    <div class="new-input-right">
                        <input id="new-min" type="number" class="">
                        <input id="new-qnt" type="number">
                    </div>
                </div>
            </div>
            <div id="new-popup-btns">
                <button class="add-btn" onclick="DOM.close_popup('new')">Cancelar</button>
                <button class="add-btn" id="send-new">Confirmar</button>
            </div>            
        </div>
    </div>

</body>

</html>