    :root{
    --primary: #ffffff;
    --primary-dark: #ECECED;
    --secondary: #2C2B2B;
    --secondary-light: #424141;
    font-family: 'Inter var', sans-serif;
}
body{
    background-color: var(--primary-dark);
    color: var(--secondary);
}
.back{
    align-self: flex-start;
    border: 2px solid var(--secondary);
    border-radius: 50%;
}
.back:hover > svg *,
.back:hover {
  fill: var(--secondary-light);
  border: var(--secondary-light) 2px solid;
  background-color: var(--primary)
}
svg:hover{
    fill: aqua;
}
#register-frame{
    background-color: var(--primary);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 15px;

}
#logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
#logo h1{
    color: var(--primary);
    font-weight: 700;
    font-size: 40px;
}
#register-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding-bottom:20px;
}
#register-text h1{
    font-weight: 700;
    font-size: 28px;
    color: var(--secondary);
    text-align: center;
}
#welcome-text p{
    font-weight: 500;
    font-size: 15px;
    color: var(--secondary-light);
    text-align: center;
}
.register-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
form div{
    display: flex;
    flex-direction: column;
    color: var(--secondary-light);
    font-size: 16px;
    gap: 5px;
}
form div label, form div label{
    padding-left: 8px;
    font-weight: 500;
}
input{
    background-color: var(--primary-dark);
    border-radius: 10px;
    border: 1px solid var(--primary-dark);
    padding: 8px;
    font-size: 18px;
}

button{
    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--secondary-light);
    font-weight: 600;
    font-size: 15px;
    height: 32px;
    border-radius: 5px;
    padding: 4px;
    width: 100%;
 
}
button:hover{
    color: var(--secondary);
    background-color: var(--primary);
}
button:active{
    color: var(--primary-dark);
    background-color: var(--primary);
    border: 4px ;
}
