#new-popup-background{
    display: none;
    position: fixed;    
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    align-items: center;
    justify-content: center;
}
#new-popup-container{
    height: 220px;
    width: 600px;
    border-radius: 15px;
    background-color: var(--primary);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#new-popup-head{
    font-size: 36px;
    font-weight: 700;
    padding: 20px;
    border-bottom: 1px solid var(--secondary);
}
#new-popup-lbls{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid var(--secondary);
}
.new-lbl-half{
    display: flex;
    gap: 30px;
}
#new-popup-forms{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
#new-popup-forms input{
    text-align: center;
    border: #cdcdce 1px solid;
    background-color: var(--primary-dark);
}
.new-input-right{
    display: flex;
    gap: 20px;
}
.new-input-right input{
    width: 155px;
    height: 30px;
}
.new-input-left input{
    height: 30px;
    width: 220px;
}
#new-popup-btns{
    display: flex;
    justify-content: space-between;
}